# Bibliothèques de base
pandas
numpy
geopandas
shapely
scipy

# Machine Learning & Prétraitement
scikit-learn

# Algorithmes de Gradient Boosting
lightgbm
xgboost
catboost

# Visualisation (Optionnel mais souvent utile avec ces libs)
matplotlib